<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418471627168-gd2cj9aehoou1jca8ki3aughfqvdanea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418471627168-gd2cj9aehoou1jca8ki3aughfqvdanea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418471627168-djdq5nievh6c5cmkm2307mhtc9avu782.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsilBnYyhO-foACfr-fJezgRObLStVHVs</string>
	<key>GCM_SENDER_ID</key>
	<string>418471627168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geolocationApp</string>
	<key>PROJECT_ID</key>
	<string>road-sefty-12b68</string>
	<key>STORAGE_BUCKET</key>
	<string>road-sefty-12b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418471627168:ios:2183f72b894b6a4fb07cc5</string>
	<key>DATABASE_URL</key>
	<string>https://road-sefty-12b68-default-rtdb.firebaseio.com</string>
</dict>
</plist>